body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
}

/** General Styles */
.link {
    position: absolute;
    width: 100%;
    height: 100%;
}
.anchor {
    position: relative;
}
.router-container {
    margin-top: 3rem;
}
.button {
    font-size: xx-large !important;
}
.text {
    font-size: 1.25rem !important;
}
.text-field {
    min-width: 150px !important;
}

/** Nav Styles */
.nav-container {
    display: flex;
    justify-content: space-between;
}
.logo-container {
    display: flex;
    align-items: center;
}
.pipe-logo {
    max-height: 50px;
}
.nav-title {
    margin-left: 20px !important;
    font-weight: bold;
}
.nav-button {
    height: 45px;
}
/** Landing Styles */
.landing-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}
.landing-title {
    text-align: center;
}
.dashboard {
    margin-top: 3rem;
}

/** Valve Card Styles */
.valve-card {
    margin-bottom: 1.5rem;
}
.valve-card-content {
    display: flex;
    align-items: center;
}
.valve-card-text-container {
    margin-left: 1rem;
}
.valve-card-currency-img {
    width: 50px;
    height: 50px;
}

/** Valve Selector Styles */
.vault-selector {
    margin-top: 3rem;
}
.vault-selection-container {
    margin-top: 1.5rem;
}
.flow-rate-selector {
    display: flex;
    align-items: flex-end;
}
